.flex-viewport{
   max-height: 450px;
}
.flexslider .flex-control-nav li img{
   height: 160px !important;
   width: 100% !important;
   object-fit: cover;
}
.img-slide{
   height: 450px !important;
   object-fit: cover;
}
.btn-active:hover{
   background-color:black !important;
   color:white !important;
}
.text-truncated{
   overflow:hidden; 
   text-overflow:ellipsis;
   display:-webkit-box; 
   -webkit-box-orient:vertical;
   -webkit-line-clamp:2;
}
/* Envios */
.ima1{
   right: 650px;
   position: absolute;
}
.ima2{
      position: absolute;
      top: 720px;
      right: 650px;
}
.ima3{
position: absolute; 
right: 190px;
}
.texto_imag{
   position: absolute;
   top:15px;
   left:220px;
   width: 200px;
   right: 20px;
   border: 2px solid rgb(10, 10, 10);
   background-color:white;
   text-align:center;
   border-radius:10px;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
}