.flex-viewport{
   max-height: 450px;
}
.flexslider .flex-control-nav li img{
   height: 160px !important;
   width: 100% !important;
   object-fit: cover;
}
.img-slide{
   height: 450px !important;
   object-fit: cover;
}
.btn-active:hover{
   background-color:black !important;
   color:white !important;
}
.text-truncated{
   overflow:hidden; 
   text-overflow:ellipsis;
   display:-webkit-box; 
   -webkit-box-orient:vertical;
   -webkit-line-clamp:2;
}
/* Envios */
.btn-ajax-active{
   border-bottom:2px solid #605b5b;
   color:#605b5b !important;
   font-weight:bold;
}